/* general-styles */
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-v30-latin-regular.woff") format("woff");
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin-500.woff2") format("woff2"),
    url("../fonts/roboto-v30-latin-500.woff") format("woff");
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2"),
    url("../fonts/roboto-v30-latin-700.woff") format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
}

img {
  vertical-align: middle;
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 1380px;
  margin: 0 auto;
  padding: 0 20px;
}
/* /general-styles */

/* header-styles */
.site-header {
  padding: 40px 0;
  background-image: url("../images/Rectangle.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-blend-mode: overlay;
  background-color: #f3d7b7;
}

.site-header-inner {
  display: flex;
  align-items: center;
}

.site-logo-link {
  display: inline-block;
  text-decoration: none;
}

.site-navbar {
  margin-left: auto;
}

.site-navbar-list {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.site-navbar-item + .site-navbar-item {
  margin-left: 40px;
}

.site-navbar-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #333333;
}
/* /header-styles */

/* main-section-styles */

/* hero-styles */

.hero-section {
  position: relative;
  padding: 116px 0 249px;
  background-image: url("../images/Rectangle-coffe.png"),
    url("../images/Rectangle.png");
  background-repeat: no-repeat;
  background-size: 710px 696px, 100%;
  background-position: calc(50% + 405px) bottom, center;
  background-blend-mode: normal, overlay;
  background-color: #f3d7b7;
}

.hero-section::before {
  position: absolute;
  top: calc(-60px);
  left: calc(50% - 20px);
  width: 160px;
  height: 160px;
  background-image: url("../images/image.png");
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
}

.hero-section-inner {
  width: 464px;
}

.hero-section-title {
  margin: 0;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: #000000;
}

.hero-section-text {
  margin-bottom: 34px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.hero-section-link {
  padding: 16px 24px;
  display: inline-block;
  background-color: #0a775f;
  border-radius: 100px;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1px;
  font-variant: small-caps;
  color: #ffffff;
}
/* /hero-styles */

/* collection-styles */
.collection-section {
  padding: 20px;
  position: relative;
}

.collection-section::before {
  position: absolute;
  z-index: 1;
  top: calc(110px);
  left: calc(50% - 800px);
  width: 300px;
  height: 300px;
  background-image: url("../images/Vector-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
}

.collection-section::after {
  position: absolute;
  top: calc(50% + 400px);
  left: calc(50% - 900px);
  width: 340px;
  height: 310px;
  background-image: url("../images/Vector-3.png");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
}

.collection-inner {
  position: relative;
  padding: 50px 0;
  background-image: url("../images/Rectangle-collection.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-blend-mode: overlay;
  background: #f8f8f2;
}

.collection-inner::before {
  position: absolute;
  top: calc(50% + 30px);
  left: calc(50% + 590px);
  width: 253px;
  height: 215px;
  background-image: url("../images/Vector-2.png");
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
}

.collection-inner::after {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% + 500px);
  width: 392px;
  height: 477px;
  background-image: url("../images/Fill-1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
}

.collection-title {
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  font-variant: small-caps;
  color: #000000;
}

.collection-list {
  width: 1114px;
  margin: 0 auto;
  list-style-type: none;
}

.collection-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.collection-item:nth-child(even) {
  flex-direction: row-reverse;
}

.collection-item:nth-child(odd) .collection-img {
  margin-right: 117px;
}

.collection-item:nth-child(even) .collection-img {
  margin-left: 117px;
}

.item-text-wrapper {
  width: 410px;
}

.item-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  font-variant: small-caps;
  color: #333333;
}

.item-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  color: #333333;
}
/* /collection-styles */

/* /main-section-styles */ ;
