/* general-styles */
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-v30-latin-regular.woff") format("woff");
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin-500.woff2") format("woff2"),
    url("../fonts/roboto-v30-latin-500.woff") format("woff");
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2"),
    url("../fonts/roboto-v30-latin-700.woff") format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  overflow-x: hidden;
}

img {
  vertical-align: middle;
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
/* /general-styles */

/* header-styles */
.site-header {
  padding: 40px 0;
  background-image: url("../images/Rectangle.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-blend-mode: overlay;
  background-color: #f3d7b7;
}

.site-header-inner {
  display: flex;
  align-items: center;
}

.site-logo-link {
  display: inline-block;
  text-decoration: none;
}

.site-logo-link:hover {
  transition: all 0.3s ease;
  opacity: 0.8;
}

.site-logo-link:active {
  transition: all 0.3s ease;
  opacity: 0.6;
}

.site-navbar {
  margin-left: auto;
}

.site-navbar-list {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.site-navbar-item + .site-navbar-item {
  margin-left: 40px;
}

.site-navbar-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #333333;
}

.site-navbar-link:hover {
  border-bottom: 2px solid #333;
  transition: all 0.3s ease;
}

.site-navbar-link:active {
  border-bottom: 2px solid #333;
  transition: all 0.3s ease;
  opacity: 0.6;
}
/* /header-styles */

/* main-section-styles */

/* hero-styles */

.hero-section {
  position: relative;
  padding: 116px 0 249px;
  background-image: url("../images/Rectangle-coffe.png"),
    url("../images/Rectangle.png");
  background-repeat: no-repeat;
  background-size: 710px 696px, 100%;
  background-position: calc(50% + 405px) bottom, center;
  background-blend-mode: normal, overlay;
  background-color: #f3d7b7;
}

.hero-section::before {
  position: absolute;
  top: calc(-60px);
  left: calc(50% - 20px);
  width: 160px;
  height: 160px;
  background-image: url("../images/image.png");
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
}

.hero-section-inner {
  width: 464px;
}

.hero-section-title {
  margin: 0;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: #000000;
}

.hero-section-text {
  margin-bottom: 34px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.hero-section-link {
  padding: 16px 24px;
  display: inline-block;
  background-color: #0a775f;
  border-radius: 100px;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1px;
  font-variant: small-caps;
  color: #ffffff;
}

.hero-section-link:hover {
  background-color: #35ac92;
  transition: all 0.3s ease;
}

.hero-section-link:active {
  opacity: 0.6;
}
/* /hero-styles */

/* collection-styles */
.collection-section {
  padding: 20px;
  position: relative;
}

.collection-section::before {
  position: absolute;
  z-index: 1;
  top: calc(110px);
  left: calc(50% - 800px);
  width: 300px;
  height: 300px;
  background-image: url("../images/Vector-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
}

.collection-section::after {
  position: absolute;
  top: calc(50% + 400px);
  left: calc(50% - 900px);
  width: 340px;
  height: 310px;
  background-image: url("../images/Vector-3.png");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
}

.collection-inner {
  position: relative;
  padding: 50px 0;
  background-image: url("../images/Rectangle-collection.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-blend-mode: overlay;
  background: #f8f8f2;
}

.collection-inner::before {
  position: absolute;
  top: calc(50% + 30px);
  left: calc(50% + 590px);
  width: 253px;
  height: 215px;
  background-image: url("../images/Vector-2.png");
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
}

.collection-inner::after {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% + 500px);
  width: 392px;
  height: 477px;
  background-image: url("../images/Fill-1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
}

.collection-title {
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  font-variant: small-caps;
  color: #000000;
}

.collection-list {
  width: 1114px;
  margin: 0 auto;
  list-style-type: none;
}

.collection-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.collection-item:nth-child(even) {
  flex-direction: row-reverse;
}

.collection-item:nth-child(odd) .collection-img {
  margin-right: 117px;
}

.collection-item:nth-child(even) .collection-img {
  margin-left: 117px;
}

.item-text-wrapper {
  width: 410px;
}

.item-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  font-variant: small-caps;
  color: #333333;
}

.item-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  color: #333333;
}
/* /collection-styles */

/* choose-styles */
.choose {
  padding: 0 20px 239px;
}

.choose__inner {
  position: relative;
  padding-top: 50px;
  background-image: url("../images/Rectangle.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-blend-mode: overlay;
  background-color: #c99b67;
}

.choose__list::before {
  position: absolute;
  top: calc(-45px);
  left: calc(50% - 720px);
  width: 129px;
  height: 136px;
  background-image: url("../images/Group.png");
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
}

.choose__title-wrapper {
  padding-bottom: 500px;
  width: 581px;
  margin: 0 auto;
}

.choose__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  font-variant: small-caps;
  color: #ffffff;
}

.choose__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.choose__list {
  position: absolute;
  top: 280px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.list__item + .list__item {
  margin-left: 20px;
}

.item__content-wrapper {
  width: 377px;
}

.item__img {
  margin-bottom: 28px;
}

.item__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  font-variant: small-caps;
  color: #333333;
}

.item__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #333333;
}
/* choose-styles */

/* works-styles */
.works {
  padding: 50px 20px;
}

.works__inner {
  position: relative;
  padding: 50px 0;
  background-image: url("../images/Rectangle.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-blend-mode: overlay;
  background-color: #0a775f;
}

.works__inner::before {
  position: absolute;
  top: calc(50px);
  left: calc(50% + 450px);
  width: 192px;
  height: 140px;
  background-image: url("../images/Group-works.png");
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
}

.works__title {
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  font-variant: small-caps;
  color: #ffffff;
}

.works__checkbox {
  margin-left: 30px;
  margin-bottom: 20px;
  background-image: url("../images/line.png");
  background-repeat: no-repeat;
  background-size: 68%;
  background-position: center left;
}

.checkbox__control {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: #f8f8f2;
  border: 4px solid #c99b67;
}

.checkbox__control + .checkbox__control {
  margin-left: 390px;
}

.works__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
  list-style-type: none;
}

.works__item {
  padding: 20px 20px 40px 20px;
  width: 433px;
  background-color: #f8f8f2;
}

.works__item + .works__item {
  margin-left: 20px;
}

.works__item-number {
  display: block;
  margin-bottom: 45px;
  text-align: end;
  font-weight: 400;
  font-size: 64px;
  line-height: 75px;
  font-variant: small-caps;
  color: #333333;
  opacity: 0.8;
}

.works__item-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  font-variant: small-caps;
  color: #333333;
}

.works__item-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #333333;
}

.works__link-wrapper {
  display: flex;
  justify-content: center;
}

.works__link {
  display: inline-block;
  padding: 16px 24px;
  background-color: #c99b67;
  border-radius: 100px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1px;
  font-variant: small-caps;
  color: #ffffff;
  mix-blend-mode: normal;
}

.works__link:hover {
  background-color: #ceab83;
  transition: all 0.3s ease;
}

.works__link:active {
  opacity: 0.8;
  transition: all 0.3s ease;
}
/* /works-styles */
/* /main-section-styles */

/* footer-styles */
.site-footer {
  padding: 65px 0;
  background-image: url("../images/Rectangle.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-blend-mode: overlay;
  background-color: #f3d7b7;
}

.site-footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: inline-block;
  text-decoration: none;
}

.logo:hover {
  opacity: 0.8;
  transition: all 0.3s ease;
}

.logo:active {
  opacity: 0.6;
  transition: all 0.3s ease;
}

.site-footer__list {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.site-footer__item + .site-footer__item {
  margin-left: 40px;
}

.site-footer__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #333333;
}

.site-footer__link:hover {
  border-bottom: 2px solid #333;
  transition: all 0.3s ease;
}

.site-footer__link:active {
  border-bottom: 2px solid #333;
  opacity: 0.6;
  transition: all 0.3s ease;
}

.site-footer__list-icon {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.list__item + .list__item {
  margin-left: 30px;
}

.list__item-facebook {
  fill: #3a3ad3;
}

.list__item-facebook:hover {
  fill: #3b6bef;
  transition: all 0.3s ease;
}

.list__item-facebook:active {
  opacity: 0.6;
  transition: all 0.3s ease;
}

.list__item-twitter {
  fill: #ffffff;
}

.list__item-twitter:hover {
  fill: #524cef;
  transition: all 0.3s ease;
}

.list__item-twitter:active {
  opacity: 0.6;
  transition: all 0.3s ease;
}

.list__item-instagram {
  fill: #e43191;
}

.list__item-instagram:hover {
  fill: #f35aac;
  transition: all 0.3s ease;
}

.list__item-instagram:active {
  opacity: 0.6;
  transition: all 0.3s ease;
}
/* /footer-styles */
