/* collection-styles */
.collection-section {
  padding: 20px;
  position: relative;
}

.collection-section::before {
  position: absolute;
  z-index: 1;
  top: calc(110px);
  left: calc(50% - 800px);
  width: 300px;
  height: 300px;
  background-image: url("../images/Vector-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
}

.collection-section::after {
  position: absolute;
  top: calc(50% + 400px);
  left: calc(50% - 900px);
  width: 340px;
  height: 310px;
  background-image: url("../images/Vector-3.png");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
}

.collection-inner {
  position: relative;
  padding: 50px 0;
  background-image: url("../images/Rectangle-collection.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-blend-mode: overlay;
  background: #f8f8f2;
}

.collection-inner::before {
  position: absolute;
  top: calc(50% + 30px);
  left: calc(50% + 590px);
  width: 253px;
  height: 215px;
  background-image: url("../images/Vector-2.png");
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
}

.collection-inner::after {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% + 500px);
  width: 392px;
  height: 477px;
  background-image: url("../images/Fill-1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
}

.collection-title {
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  font-variant: small-caps;
  color: #000000;
}

.collection-list {
  width: 1114px;
  margin: 0 auto;
  list-style-type: none;
}

.collection-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.collection-item:nth-child(even) {
  flex-direction: row-reverse;
}

.collection-item:nth-child(odd) .collection-img {
  margin-right: 117px;
}

.collection-item:nth-child(even) .collection-img {
  margin-left: 117px;
}

.item-text-wrapper {
  width: 410px;
}

.item-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  font-variant: small-caps;
  color: #333333;
}

.item-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  color: #333333;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .collection-section::before {
    background-image: url("../images/Vector-1@2x.png");
  }

  .collection-section::after {
    background-image: url("../images/Vector-3@2x.png");
  }

  .collection-inner::before {
    background-image: url("../images/Vector-2@2x.png");
  }

  .collection-inner::after {
    background-image: url("../images/Fill-1@2x.png");
  }
}
/* /collection-styles */
